
<div class="bg-dark text-white text-center pt-4 pb-4">
<p class="display-4"> shoping site</p>
<p class="fs-4">user Panel</p>
</div>
<div class="list-group">
<a href="/site/home" class="list-group-item list-group-item-action p-3">Home page</a>
<a href="/site/cart" class="list-group-item list-group-item-action p-3">My cart</a>
<a href="/user/profile" class="list-group-item list-group-item-action p-3">Profile</a>
<a href="/user/password"   class=" list-group-item list-group-item-action p-3">Password</a>
<a href="/user/addresses" class = " list-group-item list-group-item-action p-3"> Manage Address</a>
<a href="/user/orders" class=" list-group-item list-group-item-action p-3" > My Orders</a>


<a class="list-group-item list-group-item-action text-danger"(click) ="logout()">Logout</a>
</div>
