
<div class="container pt-5 pb-5 shadow">

	<div class="row justify-content-center" >
		<div class="col-5 p-4">
			<p class="display-6 text-center">Change your Password </p>
			<form [formGroup] = "form" (ngSubmit)="onSubmit()">


	<div class="col-12">
	<input type="password" class="form-control" placeholder="Password" formControlName = "password">
	
	<span class='text-danger' *ngIf="form.controls['password'].touched && form.controls['password'].errors?.['required']">Password required</span>
<span class='text-danger' *ngIf="form.controls['password'].touched && form.controls['password'].errors?.['minlength']"> Minimun 6 char required</span>
</div>
<div class="col-12">
	<input type="password" class="form-control" placeholder="Confirm Password" formControlName = "cpassword">
	
	<span class='text-danger' *ngIf="form.controls['cpassword'].touched && form.controls['cpassword'].errors?.['required']">Password required</span>
<span class='text-danger' *ngIf="form.controls['cpassword'].touched && form.controls['cpassword'].errors?.['minlength']"> Minimun 6 char required</span>
</div>

	<div class="mt-2 text-center">
	<button class="btn btn-dark" [disabled]="!form.valid" >Update</button>
	</div>


			</form>
			<h4 class="text-dark text-center">{{msg}}</h4>
		
		</div>
	</div>
</div>

