<div class="container border pt-3 pb-3 mt-5 bg-white shadow ">
	<div class="row justify-content-center">
		<div class="col-md-11 p-4">
			<p class="display-6 text-center mb-5 fw-bold">Web Messages</p>	
             
			<table class="table table-hover table-striped table-bordered ">
				<tr>
				<th >Name</th><th>EmailId</th><th>phone No</th> <th>Message</th><th>Date</th></tr>
				<tr *ngFor = "let d of data">
					<td class ="p-3">{{d.firstName | uppercase  }} {{ d.lastName | uppercase}}</td>
					<td class ="p-3">{{d.emailId}}</td>
					<td class ="p-3">{{d.phoneNo}}</td>
					<td class ="p-3">{{d.message}}</td>
					<td class ="p-3">{{d.date | date}}</td>
					
				</tr>
			</table>		
		</div>
	</div>
</div>
