
 
<div class="row  mb-5  ">
  <div class="col-12">
    <div style="background-image: url('./assets/shoes.avif'); height: 415px; " class="p-5 d-flex flex-column justify-content-center align-items-center mb-2">
      <h1 class="text-light">Our Summer Sale is Finally Here!!</h1>
      <h3 style="opacity: 0.5; color: white;">20% off Storewide</h3>  
      <button  id = "scrollButton" class=" btn btn-light mt-5">Shop Now</button>
    </div>
  </div>
</div>





<div class="container">
  <h1 class="text-center pt-5 pb-3 text-capitalize fw-bold" id="collection">Shop By Category</h1>
  <div class="carousel">
    <div class="carousel-track" *ngIf="categories?.length">
      <div class="carousel-item" *ngFor="let d of categories">
        <a class="text-capitalize text-dark text-decoration-none" [routerLink]="['/site/shop/category', d._id, d.title]">
          <img [src]="d.image" alt="{{d.title}}" class="card-img-top" style="border-radius: 50%; height: 200px; width: 200px; border: 1px solid grey; box-shadow: 5px 5px 10px rgba(0,0,0,0.5);">
          <h4 class="ms-5">{{d.title}}</h4>
        </a>
      </div>
    </div>
  </div>
</div>





<div class="container pt-5 pb-3">
  <h1 class="text-center text-uppercase fw-bold mb-4" id="collection">All Collections</h1>
  <div class="row">
    <div class="col-md-3 col-sm-6 pt-4" *ngFor="let d of products">
      <div class="card shadow-sm border-light transition-shadow hover-shadow rounded-3 h-100">
        <a [routerLink]="['/site/product', d._id]" class="text-dark text-decoration-none">
          <img [src]="d.image" class="card-img-top rounded-top-3" style="height: 250px; object-fit: cover;" alt="Product Image">
          <div class="card-body">
            <h4 class="card-title">{{ d.title }}</h4>
            <p class="card-text price">
              <span class="current-price">{{ d.price | currency: 'INR' }}</span>
              <del class="text-danger fs-6">{{ d.mrp | currency: 'INR' }}</del>
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- Pagination Controls -->
  <div class="pagination-controls text-center mt-4">
    <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1" class="btn btn-outline-primary" > Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>

    <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages" class="btn btn-outline-primary"> next</button>
  </div>
</div>


<div class="cant m-5">
  <h1 class="text-center text-uppercase fw-bold mb-4" id="collection">Shop By Brands</h1>
  <div class="d-flex justify-content-center">
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-6 d-flex justify-content-center align-items-center" *ngFor="let b of brands">
         
        <a [routerLink]="['/site/shop/brand', b._id, b.title]" class="text-dark text-decoration-none">
          <img [src]="b.image" class="card-img-top rounded-top-3" style="height:120px; width: auto;">
        </a>
      </div>
    </div>
  </div>
</div>


