<div class="container pt-5 pb-5 ">
<div class="row mb-2 justify-content-center">
<div class="col-md-11">
<p class="display-6 text-center fw-bold mb-5 text-dark">Check Out</p>

<table class="table table-hover table-striped table-bordered">
	<tr>
	 <th>Image</th><th>Title</th> <th>Price</th><th>Quantity</th> <th>Amount</th></tr>
	<tr *ngFor="let d of data"> 
		<td class="p-3 "> <img [src] ="d.image " height="80px" width="90px" ></td>
		<td class="p-3"> {{d.title | uppercase}} </td>
		<td class="p-3"> <del> {{d.mrp | currency : 'INR'}} </del> {{d.price | currency :'INR'}} </td>
		<td class="p-3"> {{d.quantity}} </td>
		 	<td class="p-3"> {{d.quantity*d.price | currency :'INR'}} </td>
	  
		

</tr>
</table>
</div>
</div>

<div class="row justify-content-center">
<div class="col-md-7">
<h3>Delivery Address</h3>
<p>{{address.address }} ,
{{address.area}} ,
{{address.city}}, 
{{address.landmark}} ,
{{address.pincode}}</p>

	</div>
<div class="col-md-4">
<table class="table table-hover table-striped table-bordered">
<tr>
<th>Cart SubTotal</th>
<td>{{subTotal | currency : 'INR'}}</td>
</tr>
<tr>
<th>You Saved </th>
<td><del>{{subTotal1 | currency : 'INR'}}</del>{{Save |  currency : 'INR'}}</td>
</tr>
<tr>
<th>Delivery Charges</th>
<td> {{Charges |  currency : 'INR' }}</td>

</tr>
<tr>
<th>Order Total</th>
<td>{{Total |  currency : 'INR'}}</td>
</tr>
</table>
	<div>
		<button class=" mt-2  btn btn btn-dark " (click) = "placeOrder()"  style="text-align:right;">Place Order</button>
	</div>

	</div>
</div>

</div>


