<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-md-5">
      <img [src]="d?.image" class="product-image w-100 p-2 border me-5" height="350px">
    </div>
    <div class="col-md-7">
      <div style="margin-right: 100px;">
        <h1 class="product-title">{{d?.title}}</h1>
        <p class="product-price fs-4 text-muted">{{d?.price | currency :'INR'}} <del class="text-danger fs-6">{{d?.mrp | currency :'INR'}}</del></p>
        <p class="product-brand">Brand: {{brand?.title}}</p>

        <ng-container *ngIf="!userId; else addToCart">
          <a (click)="moveToLogin()" class="btn btn-dark mt-3 text-white">Login To Buy</a>
        </ng-container>
        <ng-template #addToCart>
          <div class="add-to-cart-form mt-3" style="font-family: cursive;">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="input-group w-50 shadow">
                <span class="input-group-text">Quantity</span>
                <input type="number" class="form-control text-center" min="1" max="5" value="1" formControlName="quantity">
              </div>
              <button class="btn btn-dark mt-5 text-white" style="font-family: cursive;" id="button" [disabled]="!form.valid">Add To Cart</button>
            </form>
            <h2 class="mt-3 p-2 fw-bold" style="font-family: cursive;">{{msg}}</h2>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="col-md-10 ms-5">
    <h2 class="fw-bold">Product Description</h2>
    <p>{{d?.description}}</p>
  </div>

  <div class="col-md-10 ms-5 mt-4">
    <h2 class="fw-bold">Price Comparison</h2>
    <div *ngIf="loadingPriceComparison">Loading price comparisons...</div>
    <div *ngIf="!loadingPriceComparison && priceComparison.length === 0">No price comparisons available.</div>
    <div *ngIf="!loadingPriceComparison && priceComparison.length > 0">
      <div *ngFor="let comparison of priceComparison">
        <p>Store: {{ comparison.store }}</p>
        <p>Price: {{ comparison.price | currency:'INR' }}</p>
        <a [href]="comparison.link" target="_blank">Buy Now</a>
        <hr />
      </div>
    </div>
  </div>
</div>
