<nav class="navbar navbar-expand-lg bg-body-tertiary" id="nav">
    <div class="container-fluid p-0">
        <!-- Classic Logo -->
        <a class="navbar-brand" href="/site/home">
            <div class="logo">
                <span class="logo-text">Shop</span>
                <span class="highlight">Hipe</span>
            </div>
        </a>

      

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- Your categories dropdown -->
                <li class="nav-item dropdown" *ngFor="let c of categories" (mouseenter)="onMouseEnter()"
                    (mouseleave)="onMouseLeave()">
                    <a class="nav-link dropdown-toggle text-capitalize professional-dropdown" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" [ngClass]="{'change-color': isHovered}">
                        {{c.title}}
                    </a>
                    <ul class="dropdown-menu">
                        <ng-container *ngFor="let s of subcategories">
                            <li *ngIf="c._id == s.categoryId"><a class="dropdown-item text-capitalize"
                                    [routerLink]="['/site/shop/subcategory',s._id,s.subcategory]">{{s.subcategory}}</a>
                            </li>
                        </ng-container>
                    </ul>
                </li>

                <!-- Shop By Brand dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-capitalize fw-bold" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" [ngClass]="{'change-color': !isHovered}">
                        Shop By Brand
                    </a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let d of brands">
                            <a class="dropdown-item text-capitalize change-color"
                                [routerLink]="['/site/shop/brand', d._id, d.title]">{{d.title}}</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- Search form -->
<form class="d-flex ml-auto" (ngSubmit)="onSubmit()">
 
  <input class="form-control me-2" type="search" placeholder="Search products..." [(ngModel)]="searchTerm" name="searchTerm" />
  <button class="btn btn-primary" type="submit" [disabled]="!searchTerm.trim()">Search</button>
</form>

            <!-- Cart and Profile links -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item me-2">
                    <a class="nav-link" href="/site/cart">
                        <div class="cart-icon">
                            <i class="fa fa-shopping-cart fa-3x"></i>
                            <sup class="fw-bold" id="cart">{{Incart}}</sup>
                        </div>
                    </a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link" href="/user/profile"><i class="fa fa-user fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
